body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 124, 83);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-box {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
.student-btn,
.course-btn {
  border: 1px solid black;
  margin: 0px 5px;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-btn:hover,
.course-btn:hover {
  background-color: rgb(111, 121, 111);
  cursor: pointer;
}
