:root {
  --backColor: rgb(235, 232, 228);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--backColor);
}

#wrapper {
  width: 98vw;
  background-color: var(--backColor);
}

form {
  margin-left: 15px;
}
form > h1 {
  margin-bottom: 5px;
}

input {
  height: 25px;
  background-color: rgb(235, 232, 228);
  border: 1px solid black;
}

.student-box, .course-box {
  background-color: rgb(216, 209, 199);
  padding-left: 15px;
}

.student-name, .course-title {
  padding-top: 15px;
  margin-bottom: 0px;
}

.student-box > h2, .course-box > h2 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.student-course-box, .course-student-box, .teacher-box{
  background-color: rgb(216, 209, 199);
  padding-left: 15px;
}

.student-course-box {
padding-bottom: 20px;
}

.student-course{
  border: 2px solid rgb(191, 154, 106);
  background-color: rgb(235, 232, 228);
  margin: 7px 7px 7px 0px;
  display: inline-block;
  padding: 2px;
}

.course-teacher{
  border: 2px solid rgb(123, 110, 110);
  background-color: rgb(235, 232, 228);
  margin: 7px 7px 7px 0px;
  display: inline-block;
  padding: 2px 5px;
  margin-bottom: 20px;
}
.course-student {
  border: 2px solid rgb(111, 121, 111);
  background-color: rgb(235, 232, 228);
  margin: 7px 7px 7px 0px;
  display: inline-block;
  padding: 2px;
}

.student-course > p, .course-student > p{
  margin: 3px;
}
span {
  color:rgb(120, 105, 105);
}

h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 10px;
}

.course-student-box > h1 {
  margin-top: 0px;
  padding-top: 10px;
}